<h1>We're happy to welcome you on this page</h1>
<h2>Presentation</h2>
<p>Helly guys, I'm Thibaut, and this is my brand new website designed with Auguste !!</p>
<%= link_to "Contact", contact_path %>
